* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cal-body {
    height: 70vh;
    width: 30%;
    margin: 9em auto 0;
    background-color: pink;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#screen {
    width: 85%;
    height: 25%;
    margin: 1em auto 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#buttons {
    height: 70%;
    width: 85%;
    margin: 0.6em auto 0;
    /*background-color: aquamarine;*/
    display: grid;
    grid-template: repeat(5, 5fr)/ repeat(4, 5fr);
    gap: 10px 10px;
}

button {
    font-size: 20px;
    border-radius: 15px;
    background-color: grey;
    color: white;   
}

button:hover {
    background-color: black;
    color: white;
}

p {
    font-size: 38px;
}